// 深色主题
$background-color-dark: #282c34;
$font-color-dark: #fff;
$active-color-dark: #fff;
$hover-color-dark: #fff;
$disable-color-dark: #999;

 
// 浅色主题
$background-color-light: #fff;
$font-color-light: #333;
$active-color-light: #333;
$hover-color-light: #333;
$disable-color-light: #999;